* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  }
  
  .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
  }
  nav{
      flex: 1;
      text-align: right;
    }
    nav ul{
        display: inline-block;
        list-style-type: none;
    }
    nav ul li{
        display: inline-block;
        margin-right: 20px;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
    
    p{
        color: black;
    }
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col-2{
        flex-basis: 50%;
        min-width: 300px;
    }
    .col-2 img{
        max-width: 100%;
        padding: 50px 0;
    }
    
    .col-2 h1{
        font-size: 50px;
        line-height: 60px;
        margin: 25px;
    }
   
    .explore{
        display: inline-block;
        background: black; 
        color: white;
        padding: 8px 30px;
        margin:  30px 0;
        border-radius: 30px;
         }
    
         
         .header{
             background: radial-gradient(white,);
         }



.column{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    height: 100px;
}

.divider {
  float: right;
  width: 30%;
  margin-top: -100px;
  border: ridge;
  text-align: center;
  height: 300px; 
  margin-right: 247px;
  background-color: white;
  padding: 20px;
}
.cont{
    border: 3px solid black;
    padding: 20px;
}
.cont-child{
width: 30%;
height: 300px;
float: left;
padding: 20px;
text-align: center;
margin-left: 247px;
background-color: white;
border: ridge;
margin-top: -100px;
}



.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
} 
.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .bi{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}

.footer{
    background: black;
    color: gray;
    font-size: 14px;
    padding: 60px 0 20px; 
}

.footer p{
    color: gray;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px; 
}
.app-logo img{
    width: 140px;
}

.cart-page{
    margin: 80px auto;
    }
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
    }
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: black;
    font-weight: normal;    
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid;
    width: 100%;
    max-width: 200px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

body{
    font-family: system-ui;
}


.shop-container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position:  relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.card{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.active .card{
    left: calc(100% - 500px);
}
.active .shop-container{
    transform: translateX(-200px);
}

.list .item{
    text-align: center;
    background-color: white;
    padding: 20px;  
    box-shadow:  0 5px 5px #757676;
    letter-spacing: 1px;
} 

.list .item img{
    width: 90%;
}
.list .item .title-2{
    font-weight: 600;
}
.list .item .price-2{
    margin: 10px;
}


.list .item button{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}



.hder{
height: 60px;
width: 100%;
background-color: black;
border-radius: 3px;
margin: 10px 0px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px;
}
.hder .logo-prod{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
#count{
    background-color: white;
    color: black;
}
.fa-solid{
    color: goldenrod;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: black;
    color: white;
}
.contient{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
}
#root{
    width: 80%;
   display: grid;
   grid-template-columns: repeat(4, 2fr);
   grid-gap: 20px;
}
.sidebar{
    width: 20%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.hed{
    background-color: black;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.feet{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.check-out{
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.check-out a{
    color: white;
}


.box-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.images{
    max-width: 90%;
        max-height: 90%;
        object-fit: cover;
        object-position: center;
}
.bttom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    justify-content: space-between;
}
.contient h2 {
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: black; 
    padding: 7px 25px;
    cursor: pointer;
    color: white;
   }
   button:hover{
       background-color: #333;
   }
.cart-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;  
}

.rowing{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50px;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}